<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 1</string>
		<key>Image</key>
		<string>Stay Fit</string>
		<key>Description</key>
		<string>Brisk five-minute warmup walk,
 then jog 3.6km (or 25 minutes) with no walking.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 2</string>
		<key>Image</key>
		<string>running</string>
		<key>Description</key>
		<string>Bodyweight Exercise: 60 sec rest between sets

1. Static Birddog Hold 10x - 3 sets 
2. Static Deadbugs Hold 15x - 3 sets
3. Squats 8x - 2 sets 
4. Glute Bridges 10x - 2 sets 
5. Rows/Reverse Push-ups 12x - 2 sets 
6. Push-ups 12x - 2 sets </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 3</string>
		<key>Image</key>
		<string>Build Muscle</string>
		<key>Description</key>
		<string>Brisk five-minute warmup walk, 
then jog 4km (or 25 minutes).</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 4</string>
		<key>Image</key>
		<string>Lose Weight</string>
		<key>Description</key>
		<string>Bodyweight Exercise: 60 sec rest between sets

1. Birddog 10x - 3 sets 
2. Deadbugs 15x - 3 sets
3. Squats 9x - 2 sets 
4. Glute Bridges 11x - 2 sets 
5. Rows/Reverse Push-ups 12x - 2 sets 
6. Push-ups 12x - 2 sets </string>
	</dict>
</array>
</plist>
