<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 1 - Week 3</string>
		<key>Image</key>
		<string>Stay Fit</string>
		<key>Description</key>
		<string>Bodyweight Exercise: 60-90 sec rest between sets 

1. Birddog Progression 10x on each side - 3 sets 
2. Deadbug Progression 10x on each side - 3 sets 
3. Push-up Progression 12x - 5 sets  
4. Rows (Or Reverse Push-ups) Progression 12x - 5 sets  
5. Squat Progression 15x - 3 sets 
6. Glute Bridge Progression 15x - 3 sets</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 2 - Week 3</string>
		<key>Image</key>
		<string>Build Muscle</string>
		<key>Description</key>
		<string>Bodyweight Exercise:

1. Brisk five-minute warmup walk
 
2. Then jog 4km (or 25 minutes).</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 3 - Week 3</string>
		<key>Image</key>
		<string>Lose Weight</string>
		<key>Description</key>
		<string>Bodyweight Exercise: 60-90 sec rest between sets 

1. Birddog Progression 10x on each side - 3 sets 
2. Deadbug Progression 10x on each side - 3 sets 
3. Push-up Progression 12x - 5 sets  
4. Rows (Or Reverse Push-ups) Progression 12x - 5 sets  
5. Squat Progression 15x - 3 sets 
6. Glute Bridge Progression 15x - 3 sets</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lose Weight - Advanced</string>
		<key>Day</key>
		<string>Day 4 - Week 3</string>
		<key>Image</key>
		<string>running</string>
		<key>Description</key>
		<string>Bodyweight Exercise:

1. Brisk five-minute warmup walk
 
2. Then jog 4km (or 25 minutes).</string>
	</dict>
</array>
</plist>
