<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Honey &amp; orange roast sea bass with lentils</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Honey &amp; orange roast sea bass with lentils</string>
		<key>Description</key>
		<string>Ingredients:

1. 2 large skin-on sea bass fillets, zest and juice ½ orange, 2 tsp clear honey, 2 tsp wholegrain mustard
2. 2 tbsp olive oil, 250g pouch ready-to-eat puy lentils, 100g watercress, small bunch parsley, small bunch dill

Recipe: 

1. Heat oven to 200C, Place each sea bass fillet, skin-side down, on individual squares of foil. Mix together the orange zest, honey, mustard, 1 tbsp olive oil and some seasoning, and drizzle it over the fillets. 
2. Pull the sides of the foil up and twist the edges together to make individual parcels. Place the parcels on a baking tray and bake in the oven for 10 mins until the fish is just cooked and flakes easily when pressed with a knife.
3. Warm the lentils following pack instructions, then mix with the orange juice, remaining oil, the watercress, herbs and seasoning. Divide the lentils between 2 plates and top each with a sea bass fillet. Drizzle over any roasting juices that are caught in the foil and serve immediately.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Description</key>
		<string>Ingredients: 

1. 250g leek, 85g mascarpone, 1 tbsp chopped dill , plus 1 tsp. 2 skinless salmon fillets
2. ½ lemon , grated zest of 1/4, plus a good squeeze of juice, 2-3 tsp capers, baby potatoes and wilted spinach, to serve (optional)

Recipe: 

1. Heat oven to 200C/180C fan/gas 6. Place two sheets of baking parchment (large enough to wrap up each salmon fillet) on your work surface.
2. Put the leeks in a pan with 6 tbsp water, cover and bring to the boil. Cook for 5 mins until the water has been absorbed and the leeks are almost tender. Stir in the mascarpone, 1 tbsp dill and some seasoning.
3. Spoon half the creamy leeks into the middle of one sheet of parchment and place a salmon fillet on top, then repeat to make a second parcel. Sprinkle over the lemon zest with a squeeze of juice, then scatter over the capers and the remaining 1 tsp dill.
4. Bring the parchment up over the fish and join the two edges together by folding them over several times down the middle. Do the same with the ends and place the parcels, spaced apart, on a baking sheet.
5. Bake for 12-15 mins, depending on how well done you like your fish, then carefully tear open the parcel. Serve with lemon wedges for squeezing over, baby potatoes and wilted spinach, if you like.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chilli &amp; avocado salsa sweet potatoes</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins </string>
		<key>Image</key>
		<string>Chilli &amp; avocado salsa sweet potatoes</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 large sweet potatoes, 1 tbsp vegetable oil, 1 onion , 2 garlic cloves, 1 tsp paprika
2. 400g can chopped tomatoes, 1 small avocado , 1 red chilli , ½ small pack coriander ,
3. 400g can mixed beans , 460g jar roasted red peppers , 1 tbsp coconut yogurt

Recipe: 

1. Heat oven to 200C, Prick the sweet potatoes with a fork and bake for 40-45 mins. Meanwhile, heat the oil and cook the onion for about 10 mins 
2. Add the garlic and paprika, and stir for 1 min. Tip in the tomatoes, leave for 10-15 mins.
3. To make the salsa, combine the avocado, chilli and coriander in a small bowl. Pour the mixed beans into the pan with the red peppers. 5 mins
4. Halve each baked potato, ladle over the chilli and spoon on the salsa. Add coconut yogurt. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Caponata pasta</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Caponata pasta</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 tbsp olive oil, 1 onion, 4 garlic cloves, 250g chargrilled Mediterranean veg
2. 400g can chopped tomatoes, 1 tbsp small capers, 2 tbsp raisins, 350g rigatoni pasta
3. bunch basil leaves and parmesan 

Recipe: 

1. Heat the oil in a large pan and cook the onion for 8-10 mins, Add the garlic for the final 2 mins of cooking time.
2. Tip in the mixed veg, tomatoes, capers and raisins. 10 mins. Meanwhile, boil the kettle.
3. Pour the kettleful of water into a large pan with a little salt and bring back to the boil. Add the pasta and cook until tender
4.  Tip the pasta into the sauce, Scatter with the basil leaves and parmesan. Serve</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetarian Stuffed Peppers</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Vegetarian Stuffed Peppers</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 large red bell peppers, halved - seeds removed. 1 tbsp olive oil, Fine salt and freshly ground black pepper.
2. 1 ½ cups cooked rice, 2 tbsp olive oil, 1 onion, ½ tsp fine salt, 2 cups cherry tomatoes cut. 
3. ½ cup chopped fresh cilantro, 4 cloves garlic, 1 ½ teaspoons chili powder, 1 can (1 ½ cups) pinto beans, rinsed and drained
4. 1 tbsp lime juice. 1 cup grated mozzarella. 

Recipe: 

1. Roast the peppers: Preheat the oven to 220 degrees, Place the halved peppers in baking dish, Drizzle 1 tablespoon olive oil over the peppers and sprinkle them with salt and pepper. Bake 25 mins
2. Cook the rice: Bring a large pot of water to boil. Add the rice to the boiling water for 30 mins
3. In a large skillet over medium heat, warm 2 tablespoons olive oil until shimmering. Add the onion and ½ teaspoon of the salt, 5 mins. Add tomatoes for another 5 min
4. Add the cilantro, garlic, chili powder, cook for 30 to 60 seconds. Remove the pot from the heat and add the rice, beans, lime juice and about 10 twists of black pepper. 
5. Stuff each pepper generously with the rice mixture, Top the peppers with the cheese. Bake at 225 for 12 to 13 minutes, until the cheese is golden in spots. Serve warm </string>
	</dict>
</array>
</plist>
