# Ignore Xcode project and workspace files
BetterLifeFinal.xcodeproj/
BetterLifeFinal.xcworkspace/

# Ignore Pod configuration and dependencies
Podfile
Podfile.lock

# Ignore the Assets.xcassets directory
BetterLifeFinal/Assets.xcassets
BetterLifeFinal/Storyboards
BetterLifeFinal/Properties
BetterLifeFinal/Base.Iproj
