<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Build Muscle </string>
		<key>Day</key>
		<string>Day 1</string>
		<key>Image</key>
		<string>Stay Fit</string>
		<key>Description</key>
		<string>Gym Workouts: 60 - 90 sec rest between sets

1. Dumbbell Bench Press: Reps - 8,10,12 for 3 sets 
2.  Lat Pulldown: Reps - 8,10,12 for 3 sets 
3. Overhead Dumbbell Press: Reps - 8,10,12 for 3 sets 
4. Leg press: Reps - 8,10,12 for 3 sets 
5. Lying Leg Curls: Reps - 8,10,12 for 3 sets 
6. Barbell Bicep Curls: Reps - 8,10,12 for 3 sets 
7. Standing Calf Raise: Reps - 8,10,12 for 3 sets  </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Build Muscle </string>
		<key>Day</key>
		<string>Day 2</string>
		<key>Image</key>
		<string>running</string>
		<key>Description</key>
		<string>Gym Workouts: 60 - 90 sec rest between sets

1. Dumbbell Bench Press: Reps - 8,10,12 for 3 sets 
2.  Lat Pulldown: Reps - 8,10,12 for 3 sets 
3. Overhead Dumbbell Press: Reps - 8,10,12 for 3 sets 
4. Leg press: Reps - 8,10,12 for 3 sets 
5. Lying Leg Curls: Reps - 8,10,12 for 3 sets 
6. Barbell Bicep Curls: Reps - 8,10,12 for 3 sets 
7. Standing Calf Raise: Reps - 8,10,12 for 3 sets  </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Build Muscle </string>
		<key>Day</key>
		<string>Day 3</string>
		<key>Image</key>
		<string>Lose Weight</string>
		<key>Description</key>
		<string>Gym Workouts: 60 - 90 sec rest between sets

1. Dumbbell Bench Press: Reps - 8,10,12 for 3 sets 
2.  Lat Pulldown: Reps - 8,10,12 for 3 sets 
3. Overhead Dumbbell Press: Reps - 8,10,12 for 3 sets 
4. Leg press: Reps - 8,10,12 for 3 sets 
5. Lying Leg Curls: Reps - 8,10,12 for 3 sets 
6. Barbell Bicep Curls: Reps - 8,10,12 for 3 sets 
7. Standing Calf Raise: Reps - 8,10,12 for 3 sets  </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Build Muscle </string>
		<key>Day</key>
		<string>Day 4</string>
		<key>Image</key>
		<string>Build Muscle</string>
		<key>Description</key>
		<string>Gym Workouts: 60 - 90 sec rest between sets

1. Dumbbell Bench Press: Reps - 8,10,12 for 3 sets 
2.  Lat Pulldown: Reps - 8,10,12 for 3 sets 
3. Overhead Dumbbell Press: Reps - 8,10,12 for 3 sets 
4. Leg press: Reps - 8,10,12 for 3 sets 
5. Lying Leg Curls: Reps - 8,10,12 for 3 sets 
6. Barbell Bicep Curls: Reps - 8,10,12 for 3 sets 
7. Standing Calf Raise: Reps - 8,10,12 for 3 sets  </string>
	</dict>
</array>
</plist>
