<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Vegan chilli</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Vegan chilli</string>
		<key>Description</key>
		<string>This is Vegan Nut </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Green masala butternut squash curry</string>
		<key>Recipe</key>
		<string>Cook Time: 40 mins</string>
		<key>Image</key>
		<string>Green masala butternut squash curry</string>
		<key>Description</key>
		<string>Ingredients: 

1. 40g coriander, 20g mint , 2 green chillies , 4 garlic cloves, 2cm ginger , 400ml can coconut milk
2. 1 tsp garam masala, 1 tsp ground turmeric, 500g butternut squash , 150g green beans , cooked basmati rice
3. Extra coriander , to serve.  Mango chutney , to serve. 

Recipe: 

1. Put the herbs, chillies, garlic, ginger and coconut milk in a blender and blend until completely smooth and bright green. 
2. Pour the mixture into a medium saucepan and add the spices and 1 tsp salt. Bring to a simmer, add the squash and cook until soft – about 25 mins. Meanwhile, blanch the beans in boiling water, then drain and rinse in cold water – this keeps them perfectly cooked. Add them to the curry just before serving to warm them through. Serve with warm rice, extra coriander and chutney.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chilli &amp; avocado salsa sweet potatoes</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Chilli &amp; avocado salsa sweet potatoes</string>
		<key>Description</key>
		<string>Ingredients:

1. 2 large sweet potatoes, 1 tbsp vegetable oil, 1 onion, 2 garlic cloves, 1 tsp paprika
2. 400g can chopped tomatoes, 1 small avocado, 1 red chilli, ½ small pack coriander 
3. 400g can mixed beans, ½ x 460g jar roasted red peppers, 1 tbsp coconut yogurt , to serve 

Recipes:

1. Heat oven to 200C, Prick the sweet potatoes with a fork and bake for 40-45 mins,Meanwhile, heat the oil in a deep frying pan and cook the onion for about 10 mins 
2.  Add the garlic and paprika, and stir for 1 min. Tip in the tomatoes, then bring to a gentle simmer, season well and leave to bubble away for 10-15 mins. 
3. To make the salsa, combine the avocado, chilli and coriander in a small bowl. Pour the mixed beans into the pan with the red peppers. Warm through for 5 mins and taste.
4. Halve each baked potato, ladle over the chilli and spoon on the salsa. Add a dollop of coconut yogurt to each half before serving, if you like.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Japanese noodles with sesame dressing</string>
		<key>Recipe</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Japanese noodles with sesame dressing</string>
		<key>Description</key>
		<string>Ingredients: 

1. 200g soba noodle, 100g sugar snap pea , halved lengthways. 1 red pepper , ½ cucumber , sliced. 2 tsp sesame seed , toasted
2. For the dressing: 2 tbsp tahini paste, 2 tbsp soy sauce, 2 tbsp rice vinegar, 1 tbsp sugar

Recipe: 

1. First make the dressing. Mix the tahini with 2 tbsp water, then stir in the soy sauce, rice vinegar and sugar. Set aside.
2. Cook the noodles following pack instructions, then drain and rinse well under cold water. Divide the noodles between 2 bowls and top with the sugar snaps, red pepper and cucumber. Just before serving, pour over the dressing and sprinkle with the toasted sesame seeds.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chickpea curry</string>
		<key>Recipe</key>
		<string>Cook Time: 40 mins</string>
		<key>Image</key>
		<string>Chickpea curry</string>
		<key>Description</key>
		<string>Ingredients: 

1. For the paste: 2 tbsp oil, 1 onion, 1 tsp fresh or dried chilli, 9 garlic cloves, thumb-sized piece ginger, 1 tbsp ground coriander, 2 tbsp ground cumin, 1 tbsp garam masala, 2 tbsp tomato purée
2. For the curry: 2 x 400g cans chickpeas, 400g can chopped tomatoes, 100g creamed coconut, ½ small pack coriander, chopped, plus extra to garnish, 100g spinach. 
3. To serve: cooked rice and/or dahl

Recipe: 

1. To make the paste, heat a little of the 2 tbsp oil in a frying pan, add 1 diced onion and 1 tsp fresh or dried chilli, and cook until softened, about 8 mins.
2. In a food processor, combine 9 garlic cloves, a thumb-sized piece of peeled ginger and the remaining oil, then add 1 tbsp ground coriander, 2 tbsp ground cumin, 1 tbsp garam masala, 2 tbsp tomato purée, ½ tsp salt and the fried onion. Blend to a smooth paste – add a drop of water or more oil, if needed.
3. Cook the paste in a medium saucepan for 2 mins over a medium-high heat, stirring occasionally so it doesn’t stick. Tip in two 400g cans drained chickpeas and a 400g can chopped tomatoes, and simmer for 5 mins until reduced down.
4. Add 100g creamed coconut with a little water, cook for 5 mins more, then add ½ small pack chopped coriander and 100g spinach, and cook until wilted. Garnish with extra coriander and serve with rice or dhal (or both).</string>
	</dict>
</array>
</plist>
