<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Stay Fit </string>
		<key>Day</key>
		<string>Day 1 - Beginner</string>
		<key>Image</key>
		<string>Stay Fit</string>
		<key>Description</key>
		<string>Gym Workouts: 60 - 90 sec rest between sets 

1. Squats: Reps - 10,12 for 2 sets 
2. Leg Extensions: Reps - 12 for 1 set 
3. Leg Curls: Reps - 12 for 1 set 
4. Standing Calf Raises: Reps - 10,12 for 2 sets 
5. Bench Press: Reps - 10,12 for 2 sets 
6. Flyes: Reps - 12 for 1 set 
7. Pushdown: Reps - 12 for 1 set </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Stay Fit </string>
		<key>Day</key>
		<string>Day 2 - Beginner</string>
		<key>Image</key>
		<string>Lose Weight</string>
		<key>Description</key>
		<string>Bodyweight Strength: 30 - 60 sec rest inbetween sets 

1. Spidermans x 8 side - 3 sets 
2. Inchworms x 8 side - 3 sets 
3. Pinwheel shinbox x 8 side - 3 sets 
4. Thread the needle x 8 side - 3 sets 
5. Repeat 2x</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Stay Fit </string>
		<key>Day</key>
		<string>Day 3 - Beginner</string>
		<key>Image</key>
		<string>running</string>
		<key>Description</key>
		<string>Gym Workouts: 60 - 90 sec rest between sets 

1. Squats: Reps - 10,12 for 2 sets 
2. Leg Curls: Reps 12 for 1 set
3. Calf Raises: Reps - 12, 15 for 2 sets 
4. Bench Press: Reps - 10,12 for 2 sets  
5. Pulldowns: Reps - 10,12 for 2 sets  
6. Cable Rows: Reps - 10,12 for 2 sets  
7. Overhead Press: Reps - 10,12 for 2 sets  </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Stay Fit </string>
		<key>Day</key>
		<string>Day 4 - Beginner</string>
		<key>Image</key>
		<string>Build Muscle</string>
		<key>Description</key>
		<string>Bodyweight Strength: 30 - 60 sec rest inbetween sets 

1. Spidermans x 8 side - 3 sets 
2. Inchworms x 8 side - 3 sets 
3. Pinwheel shinbox x 8 side - 3 sets 
4. Thread the needle x 8 side - 3 sets 
5. Repeat 2x</string>
	</dict>
</array>
</plist>
