<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Bean, tomato &amp; watercress salad</string>
		<key>Recipe</key>
		<string>Cook Time: 15 mins</string>
		<key>Image</key>
		<string>Bean, tomato &amp; watercress salad</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 x 400g can cannellini beans, 100g watercress
2. 1 lemon , zested and juiced, 250g pack sundried tomatoes and olives

Recipe: 

1. Drain and rinse the beans, then combine in a bowl with the watercress, zest and juice of the lemon, tomatoes and olives, including the oil from the pack. Toss well and season to taste.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Quick hummus</string>
		<key>Recipe</key>
		<string>Cook Time: 12 mins</string>
		<key>Image</key>
		<string>Quick hummus</string>
		<key>Description</key>
		<string>Ingredients: 

1. 400g can chickpeas, 100ml lemon juice, 150ml olive oil, 125g tahini
2.  1 ½ tsp ground coriander, 5 cardamom pods, toasted pine nuts, sumac

Recipe: 

1. Drain the can of chickpeas, keeping the water. Gently warm in a microwave, then tip into a food processor with the lemon juice, olive oil, tahini, ground coriander and crushed seeds from the cardamom pods.
2. Blend until smooth – add a splash of chickpea water if it&apos;s looking a little dry. Check the seasoning and add more oil and lemon juice to taste. Serve sprinkled with toasted pine nuts and sumac.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Black bean, tofu &amp; avocado rice bowl</string>
		<key>Recipe</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Black bean, tofu &amp; avocado rice bowl</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 tbsp olive or rapeseed oil, 1 red onion , chopped, 3 garlic cloves , crushed. 2 tsp ground cumin
2. 2 x 400g cans black beans , zest 2 limes , then 1 juiced, the other cut into wedges to serve, 396g pack tofu , halved through the centre, then chopped into small chunks.
3. 2 tsp smoked paprika, 2 x 200g pouches cooked brown rice, 2 small ripe avocados , halved, stoned, peeled and chopped, small bunch coriander , leaves only, 1 red chilli

Recipe: 

1. Heat the grill to High. Heat 1 tbsp oil in a frying pan, add the onion and cook, stirring, for 5 mins. Add the garlic and sizzle for 30 secs more, then stir in the cumin and black beans. Cook for 5 mins. Stir through the lime zest and juice, and season.
2. While the beans cook, put the tofu in a bowl and gently toss through the remaining oil, the paprika and some seasoning. Line a baking tray with foil and arrange the tofu on top. Cook under the grill for 5 mins
3. Heat the rice following pack instructions, then divide between bowls. Top with the beans, tofu, avocado, coriander and a wedge of lime. Add a few slices of chilli too, if you like it spicy.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Minted green bean salad</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Minted green bean salad</string>
		<key>Description</key>
		<string>Ingredients:

1. 600g green bean , 3 tbsp olive oil, 2fat garlic cloves ,1 tbsp balsamic vinegar, 3 tbsp chopped fresh mint

Recipe: 

1. Cook the beans in boiling salted water for 5-6 minutes,  then drain and refresh under cold running water.Shake well to remove excess water, then pat dry with kitchen paper. You can do this the day before and keep the cooked beans in the fridge, in a bowl covered with cling film.
2. Heat 1 tablespoon of the oil in a small pan, add the garlic and fry quickly until crisp and lightly golden. Tip into a bowl with the oil from the pan and leave to cool. This can be done the day before and covered with cling film and chilled.
3. On the day, whisk together the remaining oil, vinegar, mint, salt and pepper. Pour over the beans and mix well. Tip into a serving bowl and scatter over the garlic in its oil. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Curried Cauliflower Soup</string>
		<key>Recipe</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Curried Cauliflower Soup</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 large cauliflower, stems chopped. 4 tbsp olive oil, 1 diced onion, 3 tbsp red Thai curry paste
2. ½ tsp lemon zest, 1 ½ cups vegetable broth, 1 can light coconut milk, ½ tsp sugar, 3 tsp rice vinegar
3. Freshly ground black pepper, ¼ cup chopped green onions, 1 tbsp chopped fresh basil &amp; Thinly sliced jalapeño

Recipe: 

1.  Preheat oven to 200c, Toss the cauliflower with enough oil to lightly coat it. 
2. Spread the cauliflower on a large baking sheet and roast until the tips of the cauliflower are golden brown, about 25 to 30 minutes.
3. In a Dutch oven - medium heat, warm 1 tbsp of the oil until shimmering. Add the onion and a dash of salt , stirring occasionally. 
4. Add the curry paste and lemon zest and stir to incorporate.Add all of the roasted cauliflower stems and half of the florets to the pot. Add the vegetable broth, coconut milk and sugar. 
5. After 10 mins, remove the pot from heat and let soup cool, then carefully use an immersion blender to blend until smooth, stir in 1 tsp vinegar  and serve ! </string>
	</dict>
</array>
</plist>
