<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Vegetable Fried Rice</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Vegetable Fried Rice</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 ½ teaspoons avocado oil, 2 eggs, whisked together, 1 small white onion, 2 medium carrots, 2 cups additional veggies 
2. ¼ teaspoon salt, 1 tbsp grated ginger, 2 large cloves garlic pressed, Pinch of red pepper flakes, 2 cups cooked brown rice
3. 3 green onions chopped, 1 tbsp gluten free tamari, 1 tsp sesame oil, Chili-garlic sauce 

Recipe: 

1. Warm a large cast iron or stainless steel skillet over medium-high heat, Immediately add 1 ½ teaspoons of oil and swirl the pan to coat the bottom. Add the scrambled eggs and swirl the pan so they cover the bottom. Cook until they are just lightly set, Transfer the eggs to a bowl 
2. Return the pan to heat and add 1 tablespoon of oil. Add the onion and carrots and cook, 3-5 mins. Add the remaining veggies and salt 3-5 mins
3.  break up the scrambled eggs into smaller pieces.transfer the contents of the pan to the bowl with the cooked eggs
4. Return the pan to heat and the remaining 1 tablespoon oil. Add the ginger, garlic and red pepper flakes, and cook. Add the rice and mix it all together till golden. (3- 5 mins) 
5. Add the cooked veggies and eggs and stir to combine. Remove the pan from the heat and stir in the tamari and sesame oil. Then Serve !</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sweet potato curry</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins </string>
		<key>Image</key>
		<string>Sweet potato curry</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 tbsp coconut oil, 1 onion, 2 garlic cloves, thumb-sized piece ginger, 3 tbsp Thai red curry paste
2. 1 tbsp smooth peanut butter, 500g sweet potato, 400ml can coconut milk, 200g bag spinach
3. 1 lime juiced, cooked rice, to serve

Recipe: 

1. Melt 1 tbsp coconut oil in a saucepan over a medium heat and soften 1 chopped onion for 5 mins
2. Add 2 grated garlic cloves and a grated thumb-sized piece of ginger, and cook for 1 min. Stir in 3 tbsp Thai red curry paste, 1 tbsp smooth peanut butter and 500g sweet potato.
3.  Then add 400ml coconut milk and 200ml water. Bring to the boil, turn down the heat and simmer, uncovered, for 25-30 min. 
4. Stir through 200g spinach and the juice of 1 lime, and season well. Serve with cooked rice. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Honey &amp; orange roast sea bass with lentils</string>
		<key>Recipe </key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Honey &amp; orange roast sea bass with lentils</string>
		<key>Description</key>
		<string>Ingredients:

1. 2 large skin-on sea bass fillets, zest and juice ½ orange, 2 tsp clear honey, 2 tsp wholegrain mustard
2. 2 tbsp olive oil, 250g pouch ready-to-eat puy lentils, 100g watercress, small bunch parsley, small bunch dill

Recipe: 

1. Heat oven to 200C, Place each sea bass fillet, skin-side down, on individual squares of foil. Mix together the orange zest, honey, mustard, 1 tbsp olive oil and some seasoning, and drizzle it over the fillets. 
2. Pull the sides of the foil up and twist the edges together to make individual parcels. Place the parcels on a baking tray and bake in the oven for 10 mins until the fish is just cooked and flakes easily when pressed with a knife.
3. Warm the lentils following pack instructions, then mix with the orange juice, remaining oil, the watercress, herbs and seasoning. Divide the lentils between 2 plates and top each with a sea bass fillet. Drizzle over any roasting juices that are caught in the foil and serve immediately.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Spiced aubergine bake</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Spiced aubergine bake</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 aubergines, cut into 5mm-1cm slices. 3 tbsp vegetable oil, 2 tbsp coconut oil, 2 large onions, 3 garlic cloves, 1 tbsp black mustard seeds.
2. ½ tbsp fenugreek seeds, 1 tbsp garam masala, ¼ tsp hot chilli powder, 1 cinnamon stick, 1 tsp ground cumin, 1 tsp ground coriander
3. 2 x 400g cans chopped tomatoes, 200ml coconut milk, 2 tbsp flaked almonds, small bunch coriander, roughly chopped (optional). 

Recipe: 

1. Heat oven to 220C. Generously brush each aubergine slice with vegetable oil and place in a single layer on a baking tray, or two if they don’t fit on one. Cook on the low shelves for 10 mins, then turn over and cook for a further 5-10 mins until they are golden. Reduce the oven to 180C/160C fan/gas 4.
2. Heat the coconut oil in a large, heavy-based frying pan and add the onions. Cover and sweat on a low heat for about 5 mins until softened. Add the garlic, mustard seeds, fenugreek seeds, garam masala, chilli powder, cinnamon stick, cumin and ground coriander. Cook for a few secs until it starts to smell beautiful and aromatic.
3. Pour the chopped tomatoes and coconut milk into the spiced onions and stir well. Check the seasoning and add a little sugar, salt or pepper to taste.
4. Spoon a third of the tomato sauce on the bottom of a 2-litre ovenproof dish. Layer with half the aubergine slices. Spoon over a further third of tomato sauce, then the remaining aubergine slices, and finish with the rest of the sauce. Sprinkle over the flaked almonds and coriander (if using), reserving some to serve, and bake for 25-30 mins. Serve garnished with more coriander. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Description</key>
		<string>Ingredients: 

1. 250g leek, 85g mascarpone, 1 tbsp chopped dill , plus 1 tsp. 2 skinless salmon fillets
2. ½ lemon , grated zest of 1/4, plus a good squeeze of juice, 2-3 tsp capers, baby potatoes and wilted spinach, to serve (optional)

Recipe: 

1. Heat oven to 200C/180C fan/gas 6. Place two sheets of baking parchment (large enough to wrap up each salmon fillet) on your work surface.
2. Put the leeks in a pan with 6 tbsp water, cover and bring to the boil. Cook for 5 mins until the water has been absorbed and the leeks are almost tender. Stir in the mascarpone, 1 tbsp dill and some seasoning.
3. Spoon half the creamy leeks into the middle of one sheet of parchment and place a salmon fillet on top, then repeat to make a second parcel. Sprinkle over the lemon zest with a squeeze of juice, then scatter over the capers and the remaining 1 tsp dill.
4. Bring the parchment up over the fish and join the two edges together by folding them over several times down the middle. Do the same with the ends and place the parcels, spaced apart, on a baking sheet.
5. Bake for 12-15 mins, depending on how well done you like your fish, then carefully tear open the parcel. Serve with lemon wedges for squeezing over, baby potatoes and wilted spinach, if you like.</string>
	</dict>
</array>
</plist>
