<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Homemade Muesli</string>
		<key>Recipe Title</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Homemade Muesli</string>
		<key>Description</key>
		<string>Ingredients: 

1. ⅓ cup of oats, 
1 tablespoon raisins, 1 tablespoon almond butter or peanut butter 
2. 2 tablespoon Applesauce, ⅓ cup milk of choice, Chopped almonds, Drizzle of honey 

Recipe: 
1. In a bowl, combine the oats, raisins, and applesauce. Stir. Then add milk and stir.

2. Place the lid on the bowl and refrigerate for at least 30 minutes, or up to 5 days. When you’re ready to serve</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Protein pancakes</string>
		<key>Recipe Title</key>
		<string>Cook Time: 40 mins</string>
		<key>Image</key>
		<string>Protein pancakes</string>
		<key>Description</key>
		<string>Ingredients: 

1. For the batter: 2 tbsp ground flaxseeds, 20g ground almonds, 300ml soya milk, 200g quinoa flour, 1 medium banana , 2 tbsp maple syrup, coconut oil
2. For the blueberry chia jam: 200g blueberries, 2 tbsp chia seeds, 1-2 tbsp maple syrup, 2 tsp lemon juice
3. For the stack: 100g coconut yogurt or Greek yogurt, 1 tbsp pistachio nuts or pumpkin seeds, 2 tsp hulled hemp seeds, mixed berries

Recipes: 

1. In a small bowl stir the flaxseeds with 6 tbsp water and set aside to soak while you make the jam.
2. Mash the blueberries with a fork in a pan then set over a low-medium heat until syrupy and bubbling. Remove from the heat and stir in the chia seeds, maple syrup and lemon juice. Leave to cool slightly then transfer to a small serving jar.
3. Put the ground almonds, milk, flour, banana, maple syrup and a pinch of salt in a blender. Stir the flax to make sure it has become thick and gloopy, like an egg, then tip into the mix and blitz until smooth and thick.
4. Heat 1 tsp of coconut oil in a large frying pan over a medium heat and add tablespoon of batter, Cook for a couple of mins on one side. Cook until both sides golden. Make 16 pancakes. 
5. Pile the pancakes high between two plates, alternating the layers with spoonfuls of jam and yogurt. Dollop any remaining yogurt and another spoonful of jam on top then scatter over the nuts, seeds and berries to serve.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Poached eggs with smoked salmon</string>
		<key>Recipe Title</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Poached eggs with smoked salmon</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 tbsp rapeseed oil, 140g white cabbage , 2 spring onions , 300g whole new potato
2. 1 tbsp snipped chives, 2 medium eggs , 75g smoked salmon 

Recipe: 

1. Cook the potatoes in a pan of boiling water until tender, then drain.
2. Heat the oil in a non-stick frying pan or wok. Sweat the cabbage and the spring onions in the pan for a couple of mins. Meanwhile, chop and squash the potatoes roughly, then add to the pan along with the chives. Cook for 4-5 mins, flip it over (don’t worry if it breaks) and cook for a further 4-5 mins.
3. Meanwhile, bring a small pan of water to a rolling boil, then reduce the heat so it is just simmering. Crack the eggs into the pan and simmer for about 3 mins until the whites are cooked and the yolk is just beginning to set. Remove with a slotted spoon and drain on kitchen paper.
4. To serve, divide the bubble &amp; squeak between 2 plates, place the smoked salmon and poached eggs on top and grind over a little black pepper, to taste.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegan fry-up</string>
		<key>Recipe Title</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Vegan fry-up</string>
		<key>Description</key>
		<string>Ingredients: 

1. For hash browns : 1 large potato, 1 ½ tbsp peanut butter
2. For tomatoes and mushrooms : 14 cherry tomatoes, sunflower oil, 2 tsp maple syrup, 1 tsp soy sauce, ¼ tsp smoked paprika, 1 large Portobello mushroom. 
3. For scrambled tofu : 349g pack silken tofu, 2 tbsp nutritional yeast, ½ tsp turmeric, 1 clove garlic, crushed. 
4. To serve : 4 vegan sausages, 1 x 200g can baked beans

Recipe: 

1. Cook the potato whole in a large pan of water, boil for 10 mins then drain and allow to cool. Peel the skin away. Mix with the peanut butter and season well. Set aside in the fridge until needed.
2. Heat oven to 200C, Put the cherry tomatoes onto a baking tray, drizzle with 2 tsp sunflower oil, season and bake for 30 mins. Cook the beans and sausages following the instructions on the pack. 
3. Meanwhile, mix the maple syrup, soy sauce and ¼ tsp smoked paprika together in a large bowl, add the sliced mushroom, pour 2 tsp sunflower oil into a non-stick frying pan and bring it up to a medium high heat. Fry the mushroom until golden.
4. Put 1 tbsp oil into the frying pan and add spoonfuls of the potato mixture – you should get about 4. Fry for 3-4 mins, each side then drain onto kitchen paper.
5. Crumble the tofu into your frying pan and sprinkle over the remaining ingredients and a good pinch of salt and pepper. Fry for 3-4 mins then serve. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Veggie Sandwich</string>
		<key>Recipe Title</key>
		<string>Cook Time: 10 mins</string>
		<key>Image</key>
		<string>Veggie Sandwich</string>
		<key>Description</key>
		<string>Recipe: 

1. Toast your English muffin, to get a toasty flavor. 

2. Spread mayonnaise across the bottom bun. 

3. Mash up some avocado in a bowl. And spread over the remaining bun. 

4. Once your cheesy egg is ready, place it onto the mayo side of the bun. 

5. Then add some red onion for flavor, Top the red onion with a couple splashes of hot sauce. 

8. place the avocado bun on top, avocado side down and slice it in half. Serve warm. </string>
	</dict>
</array>
</plist>
