<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Caprese Pasta Salad</string>
		<key>Recipe</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Caprese Pasta Salad</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 cups whole grain fusilli pasta, ⅓ cup extra-virgin olive oil, 2 pints cherry tomatoes
2. ½ tsp sea salt, 8 ounces mozzarella “pearls”, fresh basil, 2 tsp vinegar. 

Recipe: 

1. Bring large pot of salted water to boil and cook the pasta until according to package instructions. Drain the pasta and set it aside.
2. While the pasta is cooking, combine the olive oil, tomatoes and salt in a large, non-reactive skillet and cover it. 6 mins
3. Remove the skillet from the heat and stir in the cooked pasta. Stir the mozzarella balls and basil into the pasta. Add the vinegar. leave for 20 mins and serve.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Curried Cauliflower Soup</string>
		<key>Recipe</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Curried Cauliflower Soup</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 large cauliflower, stems chopped. 4 tbsp olive oil, 1 diced onion, 3 tbsp red Thai curry paste
2. ½ tsp lemon zest, 1 ½ cups vegetable broth, 1 can light coconut milk, ½ tsp sugar, 3 tsp rice vinegar
3. Freshly ground black pepper, ¼ cup chopped green onions, 1 tbsp chopped fresh basil &amp; Thinly sliced jalapeño

Recipe: 

1.  Preheat oven to 200c, Toss the cauliflower with enough oil to lightly coat it. 
2. Spread the cauliflower on a large baking sheet and roast until the tips of the cauliflower are golden brown, about 25 to 30 minutes.
3. In a Dutch oven - medium heat, warm 1 tbsp of the oil until shimmering. Add the onion and a dash of salt , stirring occasionally. 
4. Add the curry paste and lemon zest and stir to incorporate.Add all of the roasted cauliflower stems and half of the florets to the pot. Add the vegetable broth, coconut milk and sugar. 
5. After 10 mins, remove the pot from heat and let soup cool, then carefully use an immersion blender to blend until smooth, stir in 1 tsp vinegar  and serve ! </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetable Fried Rice</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Vegetable Fried Rice</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 ½ teaspoons avocado oil, 2 eggs, whisked together, 1 small white onion, 2 medium carrots, 2 cups additional veggies 
2. ¼ teaspoon salt, 1 tbsp grated ginger, 2 large cloves garlic pressed, Pinch of red pepper flakes, 2 cups cooked brown rice
3. 3 green onions chopped, 1 tbsp gluten free tamari, 1 tsp sesame oil, Chili-garlic sauce 

Recipe: 

1. Warm a large cast iron or stainless steel skillet over medium-high heat, Immediately add 1 ½ teaspoons of oil and swirl the pan to coat the bottom. Add the scrambled eggs and swirl the pan so they cover the bottom. Cook until they are just lightly set, Transfer the eggs to a bowl 
2. Return the pan to heat and add 1 tablespoon of oil. Add the onion and carrots and cook, 3-5 mins. Add the remaining veggies and salt 3-5 mins
3.  break up the scrambled eggs into smaller pieces.transfer the contents of the pan to the bowl with the cooked eggs
4. Return the pan to heat and the remaining 1 tablespoon oil. Add the ginger, garlic and red pepper flakes, and cook. Add the rice and mix it all together till golden. (3- 5 mins) 
5. Add the cooked veggies and eggs and stir to combine. Remove the pan from the heat and stir in the tamari and sesame oil. Then Serve !</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lemony Green Pasta </string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Lemony Green Pasta</string>
		<key>Description</key>
		<string>Ingredients: 

1. Fine sea salt, 1 large kale,  ¼ cup olive oil, 2 large cloves garlic smashed 
2. Zest and juice from 1 medium lemon, ¼ teaspoon red pepper flakes, black pepper. 
3. 8 ounces rigatoni pasta, 2 cups frozen peas, ¾ cup (2 ounces) coarsely grated Parmesan cheese, ½ cup ricotta cheese

Recipe: 

1. Bring a large pot of heavily salted water to boil. prepare your kale by slicing or stripping the leaves from the stems. 
2. When the water is boiling, place sieve in water, Cook the stems for 3 minutes, remove sieve
3. warm the olive oil, add garlic and cook until the garlic begins to sizzle - 5 mins
4. Add the cooked kale stems to the blender,  Add most of the zest from the lemon, and 1 tablespoon of the juice. Add ¼ teaspoon salt, the red pepper flakes &amp; black pepper. 
5. Blend until the mixture is completely smooth and silky. Add the pasta to the boiling water and cook until ready. Place the peas in the sieve and cook them in the water until they’re warmed, set peas aside. 
6. Drain the pasta, then return it to the pot. Pour in the green sauce, about ¾ of the Parmesan and the peas, Stir until pasta is green then serve !</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetarian Stuffed Peppers</string>
		<key>Recipe</key>
		<string>Cook Time: 1 hr</string>
		<key>Image</key>
		<string>Vegetarian Stuffed Peppers</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 large red bell peppers, halved - seeds removed. 1 tbsp olive oil, Fine salt and freshly ground black pepper.
2. 1 ½ cups cooked rice, 2 tbsp olive oil, 1 onion, ½ tsp fine salt, 2 cups cherry tomatoes cut. 
3. ½ cup chopped fresh cilantro, 4 cloves garlic, 1 ½ teaspoons chili powder, 1 can (1 ½ cups) pinto beans, rinsed and drained
4. 1 tbsp lime juice. 1 cup grated mozzarella. 

Recipe: 

1. Roast the peppers: Preheat the oven to 220 degrees, Place the halved peppers in baking dish, Drizzle 1 tablespoon olive oil over the peppers and sprinkle them with salt and pepper. Bake 25 mins
2. Cook the rice: Bring a large pot of water to boil. Add the rice to the boiling water for 30 mins
3. In a large skillet over medium heat, warm 2 tablespoons olive oil until shimmering. Add the onion and ½ teaspoon of the salt, 5 mins. Add tomatoes for another 5 min
4. Add the cilantro, garlic, chili powder, cook for 30 to 60 seconds. Remove the pot from the heat and add the rice, beans, lime juice and about 10 twists of black pepper. 
5. Stuff each pepper generously with the rice mixture, Top the peppers with the cheese. Bake at 225 for 12 to 13 minutes, until the cheese is golden in spots. Serve warm </string>
	</dict>
</array>
</plist>
