<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Stay Fit - Advanced </string>
		<key>Day</key>
		<string>Day 1 - Week 2</string>
		<key>Image</key>
		<string>Stay Fit</string>
		<key>Description</key>
		<string>Bodyweight Exercise:

1. Brisk five-minute warmup walk
 
2. Then jog 4km (or 25 minutes).</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Stay Fit - Advanced </string>
		<key>Day</key>
		<string>Day 2 - Week 2</string>
		<key>Image</key>
		<string>Lose Weight</string>
		<key>Description</key>
		<string>Gym Workouts: (Legs) 60 - 90 sec rest between sets 

1. Back Squat: Reps - 8,8,10,12 for 4 sets 
2. Leg Squat: Reps - 8,8,10,12 for 4 sets 
3. Seated Leg Curl: Reps - 8,8,10,12 for 4 sets 
4. Romanian Deadlift: Reps - 8,8,10,12 for 4 sets 
5. Standing Calf Raise: Reps - 25 for 3 sets 
6. Seated Calf Raise: Reps - 25 for 3 sets </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Stay Fit - Advanced </string>
		<key>Day</key>
		<string>Day 3 - Week 2</string>
		<key>Image</key>
		<string>Build Muscle</string>
		<key>Description</key>
		<string>Bodyweight Exercise:

1. Brisk five-minute warmup walk
 
2. Then jog 4km (or 25 minutes).</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Stay Fit - Advanced </string>
		<key>Day</key>
		<string>Day 4 - Week 2</string>
		<key>Image</key>
		<string>running</string>
		<key>Description</key>
		<string>Gym Workouts: (Push) 60 - 90 sec rest between sets 

1. Incline Barbell Bench Press: Reps - 10,10,12,15 for 4 sets 
2. Dumbbell Flye: Reps - 10,10,12,15 for 4 sets 
3. Overhead Dumbell Press: Reps - 10,10,12,15 for 4 sets 
4. Smith Machine Upright Row: Reps - 10,10,12,15 for 4 sets 
5. Lying Ez-Bar Tricep Extension: Reps - 10,12,15 for 3 sets 
6. Dumbell Kickback: Reps - 10,12,15 for 3 sets </string>
	</dict>
</array>
</plist>
