<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Honey &amp; orange roast sea bass with lentils</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Honey &amp; orange roast sea bass with lentils</string>
		<key>Description</key>
		<string>Ingredients:

1. 2 large skin-on sea bass fillets, zest and juice ½ orange, 2 tsp clear honey, 2 tsp wholegrain mustard
2. 2 tbsp olive oil, 250g pouch ready-to-eat puy lentils, 100g watercress, small bunch parsley, small bunch dill

Recipe: 

1. Heat oven to 200C, Place each sea bass fillet, skin-side down, on individual squares of foil. Mix together the orange zest, honey, mustard, 1 tbsp olive oil and some seasoning, and drizzle it over the fillets. 
2. Pull the sides of the foil up and twist the edges together to make individual parcels. Place the parcels on a baking tray and bake in the oven for 10 mins until the fish is just cooked and flakes easily when pressed with a knife.
3. Warm the lentils following pack instructions, then mix with the orange juice, remaining oil, the watercress, herbs and seasoning. Divide the lentils between 2 plates and top each with a sea bass fillet. Drizzle over any roasting juices that are caught in the foil and serve immediately.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Description</key>
		<string>Ingredients: 

1. 250g leek, 85g mascarpone, 1 tbsp chopped dill , plus 1 tsp. 2 skinless salmon fillets
2. ½ lemon , grated zest of 1/4, plus a good squeeze of juice, 2-3 tsp capers, baby potatoes and wilted spinach, to serve (optional)

Recipe: 

1. Heat oven to 200C/180C fan/gas 6. Place two sheets of baking parchment (large enough to wrap up each salmon fillet) on your work surface.
2. Put the leeks in a pan with 6 tbsp water, cover and bring to the boil. Cook for 5 mins until the water has been absorbed and the leeks are almost tender. Stir in the mascarpone, 1 tbsp dill and some seasoning.
3. Spoon half the creamy leeks into the middle of one sheet of parchment and place a salmon fillet on top, then repeat to make a second parcel. Sprinkle over the lemon zest with a squeeze of juice, then scatter over the capers and the remaining 1 tsp dill.
4. Bring the parchment up over the fish and join the two edges together by folding them over several times down the middle. Do the same with the ends and place the parcels, spaced apart, on a baking sheet.
5. Bake for 12-15 mins, depending on how well done you like your fish, then carefully tear open the parcel. Serve with lemon wedges for squeezing over, baby potatoes and wilted spinach, if you like.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetable Fried Rice</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Vegetable Fried Rice</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 ½ teaspoons avocado oil, 2 eggs, whisked together, 1 small white onion, 2 medium carrots, 2 cups additional veggies 
2. ¼ teaspoon salt, 1 tbsp grated ginger, 2 large cloves garlic pressed, Pinch of red pepper flakes, 2 cups cooked brown rice
3. 3 green onions chopped, 1 tbsp gluten free tamari, 1 tsp sesame oil, Chili-garlic sauce 

Recipe: 

1. Warm a large cast iron or stainless steel skillet over medium-high heat, Immediately add 1 ½ teaspoons of oil and swirl the pan to coat the bottom. Add the scrambled eggs and swirl the pan so they cover the bottom. Cook until they are just lightly set, Transfer the eggs to a bowl 
2. Return the pan to heat and add 1 tablespoon of oil. Add the onion and carrots and cook, 3-5 mins. Add the remaining veggies and salt 3-5 mins
3.  break up the scrambled eggs into smaller pieces.transfer the contents of the pan to the bowl with the cooked eggs
4. Return the pan to heat and the remaining 1 tablespoon oil. Add the ginger, garlic and red pepper flakes, and cook. Add the rice and mix it all together till golden. (3- 5 mins) 
5. Add the cooked veggies and eggs and stir to combine. Remove the pan from the heat and stir in the tamari and sesame oil. Then Serve !</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chickpea &amp; coriander burgers</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Chickpea &amp; coriander burgers</string>
		<key>Description</key>
		<string>Ingredients: 

1. 400g can chickpeas, zest 1 lemon, plus juice ½, 1 tsp cumin, small bunch coriander
2. 1 egg, 100g fresh breadcrumbs, 1 red onion, 1 tbsp olive oil, wholemeal buns 
3. 1 large tomato, sliced, ½ cucumber, sliced and chilli sauce, to serve

Recipe: 

1. In a food processor, whizz the chickpeas, lemon zest, lemon juice, cumin, half the coriander, the egg and some seasoning. 
2. Scrape into a bowl and mix with 80g of the breadcrumbs and the diced onions. Form 4 burgers, press remaining breadcrumbs onto both sides and chill for at least 10 mins.
3. Heat the oil in a frying pan until hot. Fry the burgers for 4 mins each side 
4. To serve, slice each bun and fill with a slice of tomato, a burger, a few red onion slices, some cucumber slices &amp; chilli </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Caponata pasta</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Caponata pasta</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 tbsp olive oil, 1 onion, 4 garlic cloves, 250g chargrilled Mediterranean veg
2. 400g can chopped tomatoes, 1 tbsp small capers, 2 tbsp raisins, 350g rigatoni pasta
3. bunch basil leaves and parmesan 

Recipe: 

1. Heat the oil in a large pan and cook the onion for 8-10 mins, Add the garlic for the final 2 mins of cooking time.
2. Tip in the mixed veg, tomatoes, capers and raisins. 10 mins. Meanwhile, boil the kettle.
3. Pour the kettleful of water into a large pan with a little salt and bring back to the boil. Add the pasta and cook until tender
4.  Tip the pasta into the sauce, Scatter with the basil leaves and parmesan. Serve</string>
	</dict>
</array>
</plist>
