<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Moroccan freekeh traybake</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Moroccan freekeh traybake</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 tbsp olive oil, 400g can chickpeas, 1 tsp ground coriander &amp; cumin. ½ tsp chilli flakes
2. 270g cherry tomatoes, ½ x 400g can apricot halves, 70g green olives
3. 70g fat-free Greek yogurt, 250g pouch cooked freekeh

Recipe: 

1. Heat oven to 200C, Toss the oil with the chickpeas, spices and chilli flakes in a medium roasting tin. Roast for 15 mins. 
2.  Add the tomatoes, apricots, olives and freekeh to the pan and toss everything together. 10-15 mins. 
3. Combine the yogurt and most of the dill and season with salt. Serve</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Caponata pasta</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Caponata pasta</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 tbsp olive oil, 1 onion, 4 garlic cloves, 250g chargrilled Mediterranean veg
2. 400g can chopped tomatoes, 1 tbsp small capers, 2 tbsp raisins, 350g rigatoni pasta
3. bunch basil leaves and parmesan 

Recipe: 

1. Heat the oil in a large pan and cook the onion for 8-10 mins, Add the garlic for the final 2 mins of cooking time.
2. Tip in the mixed veg, tomatoes, capers and raisins. 10 mins. Meanwhile, boil the kettle.
3. Pour the kettleful of water into a large pan with a little salt and bring back to the boil. Add the pasta and cook until tender
4.  Tip the pasta into the sauce, Scatter with the basil leaves and parmesan. Serve</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chickpea &amp; coriander burgers</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Chickpea &amp; coriander burgers</string>
		<key>Description</key>
		<string>Ingredients: 

1. 400g can chickpeas, zest 1 lemon, plus juice ½, 1 tsp cumin, small bunch coriander
2. 1 egg, 100g fresh breadcrumbs, 1 red onion, 1 tbsp olive oil, wholemeal buns 
3. 1 large tomato, sliced, ½ cucumber, sliced and chilli sauce, to serve

Recipe: 

1. In a food processor, whizz the chickpeas, lemon zest, lemon juice, cumin, half the coriander, the egg and some seasoning. 
2. Scrape into a bowl and mix with 80g of the breadcrumbs and the diced onions. Form 4 burgers, press remaining breadcrumbs onto both sides and chill for at least 10 mins.
3. Heat the oil in a frying pan until hot. Fry the burgers for 4 mins each side 
4. To serve, slice each bun and fill with a slice of tomato, a burger, a few red onion slices, some cucumber slices &amp; chilli 
</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Veggie Pizza</string>
		<key>Recipe</key>
		<string>Cook Time 60 Minutes</string>
		<key>Image</key>
		<string>Veggie Pizza</string>
		<key>Description</key>
		<string>Ingredients: 
1. 1 lbs pizza dough, 1 cup pizza sauce, 2 cups baby spinach
2. 3 cups mozzarella cheese, ½ cup fresh red pepper, ½ cup red onion cut thinly
3. ½ cup halved tomatoes &amp;amp; olives 

Recipe: 
1. Preheat the oven and prepare dough 
2. Spread pizza sauce over the dough, distribute the spinach on top of the sauce, and the cheese
3. Top the pizzas with pepper, red onion, tomatoes, olives 
4. Bake pizzas individually on the top rack until the crust is golden. Serve </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetable Fried Rice</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Vegetable Fried Rice</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 ½ teaspoons avocado oil, 2 eggs, whisked together, 1 small white onion, 2 medium carrots, 2 cups additional veggies 
2. ¼ teaspoon salt, 1 tbsp grated ginger, 2 large cloves garlic pressed, Pinch of red pepper flakes, 2 cups cooked brown rice
3. 3 green onions chopped, 1 tbsp gluten free tamari, 1 tsp sesame oil, Chili-garlic sauce 

Recipe: 

1. Warm a large cast iron or stainless steel skillet over medium-high heat, Immediately add 1 ½ teaspoons of oil and swirl the pan to coat the bottom. Add the scrambled eggs and swirl the pan so they cover the bottom. Cook until they are just lightly set, Transfer the eggs to a bowl 
2. Return the pan to heat and add 1 tablespoon of oil. Add the onion and carrots and cook, 3-5 mins. Add the remaining veggies and salt 3-5 mins
3.  break up the scrambled eggs into smaller pieces.transfer the contents of the pan to the bowl with the cooked eggs
4. Return the pan to heat and the remaining 1 tablespoon oil. Add the ginger, garlic and red pepper flakes, and cook. Add the rice and mix it all together till golden. (3- 5 mins) 
5. Add the cooked veggies and eggs and stir to combine. Remove the pan from the heat and stir in the tamari and sesame oil. Then Serve !</string>
	</dict>
</array>
</plist>
