<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Hummus wrap with beetroot</string>
		<key>Recipe</key>
		<string>Cook Time: 16 mins</string>
		<key>Image</key>
		<string>Hummus wrap with minty pea &amp; beetroot</string>
		<key>Description</key>
		<string>Ingredients: 

1. 85g wholemeal self-raising flour , 1 tsp rapeseed oil, 160g frozen peas , 
2. 1 lemon , 4 tbsp bio yogurt, 1 large garlic clove, baby leaf salad, 1 small red onion ,
3. 2 large ready-cooked beetroots , 30g feta, 20g walnuts 

Recipe: 

1. For the wraps, tip the flour into a small bowl and roughly rub in the oil. Add 60ml warm water to make soft dough
2. Cut in half, then roll out each piece on a floured surface as thinly as you can to make a round that will cover the base of a large frying pan, heat the pan 
3. Cook the wraps for 2 mins. For the filling, blitz the peas, lemon juice, 2 tbsp yogurt, garlic and most of the mint using a food processor. 
4. Spread over wraps, then pile on the salad leaves, onion and beetroot. Add the remaining yogurt and scatter over the feta, walnuts. Serve !</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sweet potato &amp; cauliflower lentil bowl</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Sweet potato &amp; cauliflower lentil bowl</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 large sweet potato, 1 cauliflower, 1 tbsp garam masala, 2 garlic cloves, 200g puy lentils 
2.  ginger, 1 tsp Dijon mustard, 1½ limes , 2 carrots, ¼ red cabbage, ½ small pack coriander

Recipe: 

1. Heat oven to 200C, Toss the sweet potato and cauliflower with the garam masala, Spread out on a large roasting tray. Add the garlic and roast for 30-35 mins until cooked.
2. Put the lentils in a saucepan with cold water, Bring to the boil, 20-25 mins until the lentils are cooked
3. Remove the garlic cloves from the tray, Put the garlic in a large bowl with the remaining oil, ginger, mustard, then stir. Coarsely grate the carrots, shred the cabbage and roughly chop the coriander. Squeeze over the remaining lime juice and season to taste. Serve </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Boiled egg avocado toast</string>
		<key>Recipe</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Boiled egg avocado toast</string>
		<key>Description</key>
		<string>Ingredients: 

1. 100g mixed radishes ,1 tbsp vinegar, pinch caster sugar, 1 large avocado
2. juice 1/2 lime, pinch chilli flakes, 4 slices of bread, 2 eggs boiled. 

Recipe: 

1. Toss the radishes in a bowl with the vinegar, sugar and a pinch of salt.
2. In a separate bowl, mash the avocado with the lime juice, chilli flakes and some seasoning.
3. Toast the bread, then top each slice with a little avocado, half an egg, some pickled radishes. Serve!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Fattoush Salad</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Fattoush Salad</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 toasted pita - torn into bitesize. 2 tbsp extra-virgin olive oil, pinch of sea salt
2. ½ batch fresh mint dressing, fresh romaine lettuce, chopped, 1 large tomato, chopped,
3. 1 cup quartered of cucumber, 1 chopped red onion, ½ cup torn fresh mint leaves 

Recipe: 

1. Toast the pita in your oven for 8-12 minutes until golden and crispy 
2. In a large bowl, combine the chopped lettuce, tomatoes, cucumber, onion, mint and toasted pita.
3. drizzle up to ½ cup dressing over the salad. Gently toss until all of the ingredients are lightly coated in dressing. Serve promptly.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetable Paella</string>
		<key>Recipe</key>
		<string>Cook Time 60 Minutes </string>
		<key>Image</key>
		<string>Vegetable Paella</string>
		<key>Description</key>
		<string>Ingredients: 

1. 3 tbsp olive oil, 1 onion &amp; 6 garlic cloves chopped. 1 ½ tsp fine sea salt. 
2. 2 tsp paprika, 1 can diced tomatoes &amp; chickpeas, 2 cups short-grain brown rice
3. 3 cups vegetable broth, 2 red peppers sliced, ½ cup Kalamata olives halved
4. Black pepper, ¼ cup chopped fresh parsley, 2 tbsp lemon juice, ½ cup frozen peas

Recipe: 

1. Preheat the oven, heat 2 tbsp oil into pot, add onions &amp; salt, 5 minutes 
2. Stir in the garlic, paprika, tomatoes for 2 mins, then stir in rice until its coated and chickpeas
3. Increase the heat and bring mixture to boil. On baking combine the artichoke, peppers, chopped olives, 1 tablespoon of the olive oil, ½ teaspoon of the salt, and about 10 twists of freshly ground black pepper. Toss to combine, then spread the contents evenly across the pan. 
4. Roast the vegetables on the upper rack until the artichokes and peppers are tender, about 40 to 45 minutes. remove and let vegetable cool. Serve</string>
	</dict>
</array>
</plist>
