<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Chia pudding</string>
		<key>Recipe</key>
		<string>Cook Time: 5 mins</string>
		<key>Image</key>
		<string>Chia pudding</string>
		<key>Description</key>
		<string>Ingredients:

1. 2 tbsp chia seeds, 125ml oat milk (or milk of your choice)
2. 2 tsp maple syrup, fruit, such as berries, banana, kiwis or mango, to serve

Recipe: 

1. Combine the chia seeds, milk and 2 tsp maple syrup in a jar or bowl. Cover and chill overnight or for at least 8 hrs.
2. When ready to serve, top with fruit and a drizzle of maple syrup.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Protein pancakes</string>
		<key>Recipe</key>
		<string>Cook Time: 40 mins</string>
		<key>Image</key>
		<string>Protein pancakes</string>
		<key>Description</key>
		<string>Ingredients: 

1. For the batter: 2 tbsp ground flaxseeds, 20g ground almonds, 300ml soya milk, 200g quinoa flour, 1 medium banana , 2 tbsp maple syrup, coconut oil
2. For the blueberry chia jam: 200g blueberries, 2 tbsp chia seeds, 1-2 tbsp maple syrup, 2 tsp lemon juice
3. For the stack: 100g coconut yogurt or Greek yogurt, 1 tbsp pistachio nuts or pumpkin seeds, 2 tsp hulled hemp seeds, mixed berries

Recipes: 

1. In a small bowl stir the flaxseeds with 6 tbsp water and set aside to soak while you make the jam.
2. Mash the blueberries with a fork in a pan then set over a low-medium heat until syrupy and bubbling. Remove from the heat and stir in the chia seeds, maple syrup and lemon juice. Leave to cool slightly then transfer to a small serving jar.
3. Put the ground almonds, milk, flour, banana, maple syrup and a pinch of salt in a blender. Stir the flax to make sure it has become thick and gloopy, like an egg, then tip into the mix and blitz until smooth and thick.
4. Heat 1 tsp of coconut oil in a large frying pan over a medium heat and add tablespoon of batter, Cook for a couple of mins on one side. Cook until both sides golden. Make 16 pancakes. 
5. Pile the pancakes high between two plates, alternating the layers with spoonfuls of jam and yogurt. Dollop any remaining yogurt and another spoonful of jam on top then scatter over the nuts, seeds and berries to serve.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegan fry-up</string>
		<key>Recipe</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Vegan fry-up</string>
		<key>Description</key>
		<string>Ingredients: 

1. For hash browns : 1 large potato, 1 ½ tbsp peanut butter
2. For tomatoes and mushrooms : 14 cherry tomatoes, sunflower oil, 2 tsp maple syrup, 1 tsp soy sauce, ¼ tsp smoked paprika, 1 large Portobello mushroom. 
3. For scrambled tofu : 349g pack silken tofu, 2 tbsp nutritional yeast, ½ tsp turmeric, 1 clove garlic, crushed. 
4. To serve : 4 vegan sausages, 1 x 200g can baked beans

Recipe: 

1. Cook the potato whole in a large pan of water, boil for 10 mins then drain and allow to cool. Peel the skin away. Mix with the peanut butter and season well. Set aside in the fridge until needed.
2. Heat oven to 200C, Put the cherry tomatoes onto a baking tray, drizzle with 2 tsp sunflower oil, season and bake for 30 mins. Cook the beans and sausages following the instructions on the pack. 
3. Meanwhile, mix the maple syrup, soy sauce and ¼ tsp smoked paprika together in a large bowl, add the sliced mushroom, pour 2 tsp sunflower oil into a non-stick frying pan and bring it up to a medium high heat. Fry the mushroom until golden.
4. Put 1 tbsp oil into the frying pan and add spoonfuls of the potato mixture – you should get about 4. Fry for 3-4 mins, each side then drain onto kitchen paper.
5. Crumble the tofu into your frying pan and sprinkle over the remaining ingredients and a good pinch of salt and pepper. Fry for 3-4 mins then serve. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Blackcurrant compote</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Blackcurrant compote</string>
		<key>Description</key>
		<string>Ingredients: 

1. juice ½ lemon, 500g blackcurrants, 100g golden caster sugar

Recipe: 

1. Put 2 tbsp water and the lemon juice in a large saucepan, bring to the boil, then add the blackcurrants and simmer until broken down.
2. Tip in the golden caster sugar and bring to 105C on a temperature probe. Pour into sterilised jars and leave to cool.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Tropical smoothie bowl</string>
		<key>Recipe</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Tropical smoothie bowl</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 small ripe mango , stoned, peeled and cut into chunks, 200g pineapple , peeled, cored and cut into chunks. 2 ripe bananas. 
2. 2 tbsp coconut yogurt, 150ml coconut drinking milk, 2 passion fruits , halved, seeds scooped out, handful blueberries, 2 tbsp coconut flakes, a few mint leaves. 

Recipe: 

1. Put the mango, pineapple, bananas, yogurt and coconut milk in a blender, and blitz until smooth and thick
2.  Pour into two bowls and decorate with the passion fruit, blueberries, coconut flakes and mint leaves. keep in the fridge for 1 day. Add the toppings just before serving.</string>
	</dict>
</array>
</plist>
