<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Bean, tomato &amp; watercress salad</string>
		<key>Recipe</key>
		<string>Cook Time: 15 mins</string>
		<key>Image</key>
		<string>Bean, tomato &amp; watercress salad</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 x 400g can cannellini beans, 100g watercress
2. 1 lemon , zested and juiced, 250g pack sundried tomatoes and olives

Recipe: 

1. Drain and rinse the beans, then combine in a bowl with the watercress, zest and juice of the lemon, tomatoes and olives, including the oil from the pack. Toss well and season to taste.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Falafel burgers</string>
		<key>Recipe</key>
		<string>Cook Time: 16 mins</string>
		<key>Image</key>
		<string>Falafel burgers</string>
		<key>Description</key>
		<string>Ingredients:

1. 400g can chickpeas, 1 small red onion, 1 garlic clove, handful of flat-leaf parsley or curly parsley, 1 tsp ground cumin
2. 1 tsp ground coriander, ½ tsp harissa paste, 2 tbsp plain flour, 2 tbsp sunflower oil 
3. toasted pitta bread, to serve. 200g tub tomato salsa, to serve. green salad, to serve. 

Recipe: 

1. Drain the chickpeas and pat dry with kitchen paper. Tip into a food processor along with the onion, garlic, parsley, cumin, coriander, harissa paste, flour and a little salt.
2. Blend until fairly smooth, then shape into four patties with your hands. 
3. Heat the sunflower oil in a non-stick frying pan, and fry the burgers for 3 mins on each side until lightly golden. Serve with the toasted pitta bread, tomato salsa and green salad.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Indian chickpea &amp; vegetable soup</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Indian chickpea &amp; vegetable soup</string>
		<key>Description</key>
		<string>Ingredients:

1. 1 tbsp vegetable oil, 1 large onion, 1 tsp finely grated fresh root ginger, 1 garlic clove 
2. 1 tbsp garam masala, 850ml vegetable stock, 2 large carrots, 400g can chickpea, 100g green bean

Recipe: 

1. Heat the oil in a medium saucepan, then add the onion, ginger and garlic. Fry for 2 mins, then add the garam masala, give it 1 min more, then add the stock and carrots. 
2. Simmer for 10 mins, then add the chickpeas. Use a stick blender to whizz the soup a little. Stir in the beans and simmer for 3 mins. Pack into a flask or, if you’ve got a microwave at work, chill and heat up for lunch. Great with naan bread.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Minted green bean salad</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Minted green bean salad</string>
		<key>Description</key>
		<string>Ingredients:

1. 600g green bean , 3 tbsp olive oil, 2fat garlic cloves ,1 tbsp balsamic vinegar, 3 tbsp chopped fresh mint

Recipe: 

1. Cook the beans in boiling salted water for 5-6 minutes,  then drain and refresh under cold running water.Shake well to remove excess water, then pat dry with kitchen paper. You can do this the day before and keep the cooked beans in the fridge, in a bowl covered with cling film.
2. Heat 1 tablespoon of the oil in a small pan, add the garlic and fry quickly until crisp and lightly golden. Tip into a bowl with the oil from the pan and leave to cool. This can be done the day before and covered with cling film and chilled.
3. On the day, whisk together the remaining oil, vinegar, mint, salt and pepper. Pour over the beans and mix well. Tip into a serving bowl and scatter over the garlic in its oil. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Curried Cauliflower Soup</string>
		<key>Recipe</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Curried Cauliflower Soup</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 large cauliflower, stems chopped. 4 tbsp olive oil, 1 diced onion, 3 tbsp red Thai curry paste
2. ½ tsp lemon zest, 1 ½ cups vegetable broth, 1 can light coconut milk, ½ tsp sugar, 3 tsp rice vinegar
3. Freshly ground black pepper, ¼ cup chopped green onions, 1 tbsp chopped fresh basil &amp; Thinly sliced jalapeño

Recipe: 

1.  Preheat oven to 200c, Toss the cauliflower with enough oil to lightly coat it. 
2. Spread the cauliflower on a large baking sheet and roast until the tips of the cauliflower are golden brown, about 25 to 30 minutes.
3. In a Dutch oven - medium heat, warm 1 tbsp of the oil until shimmering. Add the onion and a dash of salt , stirring occasionally. 
4. Add the curry paste and lemon zest and stir to incorporate.Add all of the roasted cauliflower stems and half of the florets to the pot. Add the vegetable broth, coconut milk and sugar. 
5. After 10 mins, remove the pot from heat and let soup cool, then carefully use an immersion blender to blend until smooth, stir in 1 tsp vinegar  and serve ! </string>
	</dict>
</array>
</plist>
