<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Vegan chilli</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Vegan chilli</string>
		<key>Description</key>
		<string>Ingredients: 

1. 3 tbsp olive oil, 2 sweet potatoes, 2 tsp smoked paprika, 2 tsp ground cumin, 1 onion
2. 2 carrots, 2 celery sticks, 2 garlic cloves, 1-2 tsp chilli powder, 1 tsp dried oregano
3. 1 tbsp tomato purée, 1 red pepper, 2 x 400g cans chopped tomatoes, 400g can black beans, 400g can kidney beans, 
4. lime wedges, guacamole, rice and coriander to serve

Recipe: 

1. Heat the oven to 200C, Put the sweet potato in a roasting tin and drizzle over 1½ tbsp oil, 1 tsp smoked paprika and 1 tsp ground cumin. Mix and cook 25 mins
2. heat the remaining oil in a large saucepan over a medium heat. Add the onion, carrot and celery. Cook for 8-10 mins, then add crushed garlic, cook 1 mins
3. Add the remaining dried spices and tomato purée, cook 1 more min, then Add the red pepper, chopped tomatoes and 200ml water.Bring the chilli to a boil, then simmer for 20 mins. Tip in the beans and cook for another 10 mins
4. Season to taste then serve with lime wedges, guacamole, rice and coriander. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chilli &amp; avocado salsa sweet potatoes</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Chilli &amp; avocado salsa sweet potatoes</string>
		<key>Description</key>
		<string>Ingredients:

1. 2 large sweet potatoes, 1 tbsp vegetable oil, 1 onion, 2 garlic cloves, 1 tsp paprika
2. 400g can chopped tomatoes, 1 small avocado, 1 red chilli, ½ small pack coriander 
3. 400g can mixed beans, ½ x 460g jar roasted red peppers, 1 tbsp coconut yogurt , to serve 

Recipes:

1. Heat oven to 200C, Prick the sweet potatoes with a fork and bake for 40-45 mins,Meanwhile, heat the oil in a deep frying pan and cook the onion for about 10 mins 
2.  Add the garlic and paprika, and stir for 1 min. Tip in the tomatoes, then bring to a gentle simmer, season well and leave to bubble away for 10-15 mins. 
3. To make the salsa, combine the avocado, chilli and coriander in a small bowl. Pour the mixed beans into the pan with the red peppers. Warm through for 5 mins and taste.
4. Halve each baked potato, ladle over the chilli and spoon on the salsa. Add a dollop of coconut yogurt to each half before serving, if you like.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Spiced aubergine bake</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Spiced aubergine bake</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 aubergines, cut into 5mm-1cm slices. 3 tbsp vegetable oil, 2 tbsp coconut oil, 2 large onions, 3 garlic cloves, 1 tbsp black mustard seeds.
2. ½ tbsp fenugreek seeds, 1 tbsp garam masala, ¼ tsp hot chilli powder, 1 cinnamon stick, 1 tsp ground cumin, 1 tsp ground coriander
3. 2 x 400g cans chopped tomatoes, 200ml coconut milk, 2 tbsp flaked almonds, small bunch coriander, roughly chopped (optional). 

Recipe: 

1. Heat oven to 220C. Generously brush each aubergine slice with vegetable oil and place in a single layer on a baking tray, or two if they don’t fit on one. Cook on the low shelves for 10 mins, then turn over and cook for a further 5-10 mins until they are golden. Reduce the oven to 180C/160C fan/gas 4.
2. Heat the coconut oil in a large, heavy-based frying pan and add the onions. Cover and sweat on a low heat for about 5 mins until softened. Add the garlic, mustard seeds, fenugreek seeds, garam masala, chilli powder, cinnamon stick, cumin and ground coriander. Cook for a few secs until it starts to smell beautiful and aromatic.
3. Pour the chopped tomatoes and coconut milk into the spiced onions and stir well. Check the seasoning and add a little sugar, salt or pepper to taste.
4. Spoon a third of the tomato sauce on the bottom of a 2-litre ovenproof dish. Layer with half the aubergine slices. Spoon over a further third of tomato sauce, then the remaining aubergine slices, and finish with the rest of the sauce. Sprinkle over the flaked almonds and coriander (if using), reserving some to serve, and bake for 25-30 mins. Serve garnished with more coriander. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Chickpea curry</string>
		<key>Recipe</key>
		<string>Cook Time: 40 mins</string>
		<key>Image</key>
		<string>Chickpea curry</string>
		<key>Description</key>
		<string>Ingredients: 

1. For the paste: 2 tbsp oil, 1 onion, 1 tsp fresh or dried chilli, 9 garlic cloves, thumb-sized piece ginger, 1 tbsp ground coriander, 2 tbsp ground cumin, 1 tbsp garam masala, 2 tbsp tomato purée
2. For the curry: 2 x 400g cans chickpeas, 400g can chopped tomatoes, 100g creamed coconut, ½ small pack coriander, chopped, plus extra to garnish, 100g spinach. 
3. To serve: cooked rice and/or dahl

Recipe: 

1. To make the paste, heat a little of the 2 tbsp oil in a frying pan, add 1 diced onion and 1 tsp fresh or dried chilli, and cook until softened, about 8 mins.
2. In a food processor, combine 9 garlic cloves, a thumb-sized piece of peeled ginger and the remaining oil, then add 1 tbsp ground coriander, 2 tbsp ground cumin, 1 tbsp garam masala, 2 tbsp tomato purée, ½ tsp salt and the fried onion. Blend to a smooth paste – add a drop of water or more oil, if needed.
3. Cook the paste in a medium saucepan for 2 mins over a medium-high heat, stirring occasionally so it doesn’t stick. Tip in two 400g cans drained chickpeas and a 400g can chopped tomatoes, and simmer for 5 mins until reduced down.
4. Add 100g creamed coconut with a little water, cook for 5 mins more, then add ½ small pack chopped coriander and 100g spinach, and cook until wilted. Garnish with extra coriander and serve with rice or dhal (or both).</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Green masala butternut squash curry</string>
		<key>Recipe</key>
		<string>Cook Time: 40 mins</string>
		<key>Image</key>
		<string>Green masala butternut squash curry</string>
		<key>Description</key>
		<string>Ingredients: 

1. 40g coriander, 20g mint , 2 green chillies , 4 garlic cloves, 2cm ginger , 400ml can coconut milk
2. 1 tsp garam masala, 1 tsp ground turmeric, 500g butternut squash , 150g green beans , cooked basmati rice
3. Extra coriander , to serve.  Mango chutney , to serve. 

Recipe: 

1. Put the herbs, chillies, garlic, ginger and coconut milk in a blender and blend until completely smooth and bright green. 
2. Pour the mixture into a medium saucepan and add the spices and 1 tsp salt. Bring to a simmer, add the squash and cook until soft – about 25 mins. Meanwhile, blanch the beans in boiling water, then drain and rinse in cold water – this keeps them perfectly cooked. Add them to the curry just before serving to warm them through. Serve with warm rice, extra coriander and chutney.</string>
	</dict>
</array>
</plist>
