<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Greek courgetti salad</string>
		<key>Recipe</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Greek courgetti salad</string>
		<key>Description</key>
		<string>Ingredients:

1. ½ cucumber, 60g feta, 200g tub marinated olives with sundried tomato
2. 250g pack courgetti

Recipes: 

1. Slice the cucumber on the diagonal and crumble the feta. 
2. Combine all the ingredients in a bowl with a little extra virgin olive oil and some seasoning, then serve. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Thai green curry</string>
		<key>Recipe</key>
		<string>Cook Time: 55 mins</string>
		<key>Image</key>
		<string>Thai green curry</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 tbsp vegetable oil, 3 shallots, 4 tbsp Thai green curry paste, 1 red chilli, 350g butternut squash. 
2. 1 large red pepper, 400g can full fat coconut milk, 5 dried kaffir lime leaves, 150g mangetout
3. 100g baby corn, 1 small bunch coriander, cooked rice and lime wedges. 

Recipe: 

1. Heat the oil, Add the shallots with a generous pinch of salt and fry for 7-10 mins over a medium heat until softened. Add the curry paste and chilli to the dish and fry for 2 mins.
2. Tip in the squash and pepper, then stir through the coconut milk along with 200ml water. Add the lime leaves, cover and cook for 15-20 mins
3. Stir the mangetout and baby corn through the curry, then re-cover, cooking over a medium-low heat for a further 5 mins, Season and stir through half the coriander. Remove the lime leaves and discard.
4. Spoon the curry into deep bowls, scatter with the remaining coriander and serve with rice and lime wedges. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Fattoush Salad</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Fattoush Salad</string>
		<key>Description</key>
		<string>Ingredients: 

1. 2 toasted pita - torn into bitesize. 2 tbsp extra-virgin olive oil, pinch of sea salt
2. ½ batch fresh mint dressing, fresh romaine lettuce, chopped, 1 large tomato, chopped,
3. 1 cup quartered of cucumber, 1 chopped red onion, ½ cup torn fresh mint leaves 

Recipe: 

1. Toast the pita in your oven for 8-12 minutes until golden and crispy 
2. In a large bowl, combine the chopped lettuce, tomatoes, cucumber, onion, mint and toasted pita.
3. drizzle up to ½ cup dressing over the salad. Gently toss until all of the ingredients are lightly coated in dressing. Serve promptly.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Mushroom buckwheat risotto</string>
		<key>Recipe</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Mushroom buckwheat risotto</string>
		<key>Description</key>
		<string>Ingredients: 

1. 45g butter, 1 banana shallot, 1 bay leaf, 300g buckwheat, 150ml white wine
2. 15g dried porcini mushrooms soaked in 800ml water, 200g Portobello mushrooms, 250g chestnut mushrooms
3. 200g cooked beetroot, 100ml crème fraîche, 1 tbsp creamed horseradish, ½ small pack dill , juice ½ lemon

Recipe: 

1. Mix all the ingredients for the buraczki together in a bowl, then set aside.
2. Melt 15g of the butter in a sauté pan over a medium heat. Add the shallot and a pinch of salt and cook for 8 mins, Stir in the garlic and bay leaf, cook for 1 min more, then pour in the wine.
2. Continue to gradually add the liquor and stir occasionally until all the liquor has been used - 20 mins. Meanwhile, heat the remaining butter in a frying pan over a high heat. Add the mushrooms and fry for 5 mins.
4. Add the mushrooms to the risotto, give it a good stir and season to taste. Serve. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lentil Soup</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Lentil Soup</string>
		<key>Description</key>
		<string>Ingredients: 

1. ¼ cup of olive oil, 1 onion chopped, 2 carrots chopped, 4 garlic clove minced
2. 1 tsp curry powder &amp; ½ tsp dried thyme,1 large can diced tomatoes 
3. 1 cup brown or green lentils, 4 cups vegetable broth, 2 cups water, 1 tsp salt
4. Pinch of red pepper flakes, black pepper, 1 tbsp lemon juice 

Recipe: 

1. Warm the olive oil in pot, add the chopped onion and carrot and cook, 5 mins
2. Add the curry powder and thyme. Stir. Pour in the drained diced tomatoes and cook 
3. Pour in the lentils and the water. Add 1 tsp salt &amp; red pepper flakes with black pepper and cook 30 mins
4. Transfer 2 cups of the soup to a blender. and purée the soup until smooth. Pour the puréed soup back into the pot.
5. Add the chopped greens and cook for 5 more minutes,  stir in 1 tbsp of lemon juice and serve</string>
	</dict>
</array>
</plist>
