<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Kiwi fruit smoothie</string>
		<key>Recipe</key>
		<string>Cook Time: 5 mins</string>
		<key>Image</key>
		<string>Kiwi fruit smoothie</string>
		<key>Description</key>
		<string>Ingredients: 

1. 3 peeled kiwi fruit, 1 mango , peeled, stoned and chopped, 500ml pineapple juice and 1 banana , sliced

Recipe: 

1. Put all of the ingredients in a blender and blitz until smooth then pour into 2 tall glasses.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Homemade Muesli </string>
		<key>Recipe</key>
		<string>Recipe</string>
		<key>Image</key>
		<string>Homemade Muesli</string>
		<key>Description</key>
		<string>Ingredients: 

1. ⅓ cup of oats, 
1 tablespoon raisins, 1 tablespoon almond butter or peanut butter 
2. 2 tablespoon Applesauce, ⅓ cup milk of choice, Chopped almonds, Drizzle of honey 

Recipe: 
1. In a bowl, combine the oats, raisins, and applesauce. Stir. Then add milk and stir.

2. Place the lid on the bowl and refrigerate for at least 30 minutes, or up to 5 days. When you’re ready to serve</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegan fry-up</string>
		<key>Recipe</key>
		<string>Cook Time: 45 mins</string>
		<key>Image</key>
		<string>Vegan fry-up</string>
		<key>Description</key>
		<string>Ingredients: 

1. For hash browns : 1 large potato, 1 ½ tbsp peanut butter
2. For tomatoes and mushrooms : 14 cherry tomatoes, sunflower oil, 2 tsp maple syrup, 1 tsp soy sauce, ¼ tsp smoked paprika, 1 large Portobello mushroom. 
3. For scrambled tofu : 349g pack silken tofu, 2 tbsp nutritional yeast, ½ tsp turmeric, 1 clove garlic, crushed. 
4. To serve : 4 vegan sausages, 1 x 200g can baked beans

Recipe: 

1. Cook the potato whole in a large pan of water, boil for 10 mins then drain and allow to cool. Peel the skin away. Mix with the peanut butter and season well. Set aside in the fridge until needed.
2. Heat oven to 200C, Put the cherry tomatoes onto a baking tray, drizzle with 2 tsp sunflower oil, season and bake for 30 mins. Cook the beans and sausages following the instructions on the pack. 
3. Meanwhile, mix the maple syrup, soy sauce and ¼ tsp smoked paprika together in a large bowl, add the sliced mushroom, pour 2 tsp sunflower oil into a non-stick frying pan and bring it up to a medium high heat. Fry the mushroom until golden.
4. Put 1 tbsp oil into the frying pan and add spoonfuls of the potato mixture – you should get about 4. Fry for 3-4 mins, each side then drain onto kitchen paper.
5. Crumble the tofu into your frying pan and sprinkle over the remaining ingredients and a good pinch of salt and pepper. Fry for 3-4 mins then serve. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Indian scrambled eggs</string>
		<key>Recipe</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Indian scrambled eggs</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 tbsp butter, 1 small red onion, 1 green or red chilli , 2 garlic cloves 
2. ¼ tsp ground cumin, ¼ tsp garam masala, good pinch of turmeric, 2 tomatoes. 
3. 7 eggs , beaten. Small pack coriander, 4 chapatis (or gluten-free alternative), lightly toasted, to serve

Recipe: 

1. Heat a large frying pan over a low-medium heat and add the butter.  fry the onion, chilli and garlic – about 5 mins, Add the spices and cook for 1-2 mins.
2. Add the tomatoes, cook for 1 min, then pour in the eggs. Stir slowly to scramble the eggs as they cook
3. Stir through the coriander and serve with chapatis for a delicious breakfast </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Blackcurrant compote</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Blackcurrant compote</string>
		<key>Description</key>
		<string>Ingredients: 

1. juice ½ lemon, 500g blackcurrants, 100g golden caster sugar

Recipe: 

1. Put 2 tbsp water and the lemon juice in a large saucepan, bring to the boil, then add the blackcurrants and simmer until broken down.
2. Tip in the golden caster sugar and bring to 105C on a temperature probe. Pour into sterilised jars and leave to cool.</string>
	</dict>
</array>
</plist>
