<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Recipe</key>
		<string>Cook Time: 30 mins</string>
		<key>Image</key>
		<string>Salmon &amp; leek parcel</string>
		<key>Descriptions</key>
		<string>Ingredients: 

1. 250g leek, 85g mascarpone, 1 tbsp chopped dill , plus 1 tsp. 2 skinless salmon fillets
2. ½ lemon , grated zest of 1/4, plus a good squeeze of juice, 2-3 tsp capers, baby potatoes and wilted spinach, to serve (optional)

Recipe: 

1. Heat oven to 200C/180C fan/gas 6. Place two sheets of baking parchment (large enough to wrap up each salmon fillet) on your work surface.
2. Put the leeks in a pan with 6 tbsp water, cover and bring to the boil. Cook for 5 mins until the water has been absorbed and the leeks are almost tender. Stir in the mascarpone, 1 tbsp dill and some seasoning.
3. Spoon half the creamy leeks into the middle of one sheet of parchment and place a salmon fillet on top, then repeat to make a second parcel. Sprinkle over the lemon zest with a squeeze of juice, then scatter over the capers and the remaining 1 tsp dill.
4. Bring the parchment up over the fish and join the two edges together by folding them over several times down the middle. Do the same with the ends and place the parcels, spaced apart, on a baking sheet.
5. Bake for 12-15 mins, depending on how well done you like your fish, then carefully tear open the parcel. Serve with lemon wedges for squeezing over, baby potatoes and wilted spinach, if you like.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Thai green curry</string>
		<key>Recipe</key>
		<string>Recipe</string>
		<key>Image</key>
		<string>Thai green curry</string>
		<key>Descriptions</key>
		<string>Ingredients: 

1. 2 tbsp vegetable oil, 3 shallots, 4 tbsp Thai green curry paste, 1 red chilli, 350g butternut squash. 
2. 1 large red pepper, 400g can full fat coconut milk, 5 dried kaffir lime leaves, 150g mangetout
3. 100g baby corn, 1 small bunch coriander, cooked rice and lime wedges. 

Recipe: 

1. Heat the oil, Add the shallots with a generous pinch of salt and fry for 7-10 mins over a medium heat until softened. Add the curry paste and chilli to the dish and fry for 2 mins.
2. Tip in the squash and pepper, then stir through the coconut milk along with 200ml water. Add the lime leaves, cover and cook for 15-20 mins
3. Stir the mangetout and baby corn through the curry, then re-cover, cooking over a medium-low heat for a further 5 mins, Season and stir through half the coriander. Remove the lime leaves and discard.
4. Spoon the curry into deep bowls, scatter with the remaining coriander and serve with rice and lime wedges. </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetable Paella</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins </string>
		<key>Image</key>
		<string>Vegetable Paella</string>
		<key>Descriptions</key>
		<string>Ingredients: 

1. 3 tbsp olive oil, 1 onion &amp; 6 garlic cloves chopped. 1 ½ tsp fine sea salt. 
2. 2 tsp paprika, 1 can diced tomatoes &amp; chickpeas, 2 cups short-grain brown rice
3. 3 cups vegetable broth, 2 red peppers sliced, ½ cup Kalamata olives halved
4. Black pepper, ¼ cup chopped fresh parsley, 2 tbsp lemon juice, ½ cup frozen peas

Recipe: 

1. Preheat the oven, heat 2 tbsp oil into pot, add onions &amp; salt, 5 minutes 
2. Stir in the garlic, paprika, tomatoes for 2 mins, then stir in rice until its coated and chickpeas
3. Increase the heat and bring mixture to boil. On baking combine the artichoke, peppers, chopped olives, 1 tablespoon of the olive oil, ½ teaspoon of the salt, and about 10 twists of freshly ground black pepper. Toss to combine, then spread the contents evenly across the pan. 
4. Roast the vegetables on the upper rack until the artichokes and peppers are tender, about 40 to 45 minutes. remove and let vegetable cool. Serve</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sesame salmon &amp; sweet potato mash</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Sesame salmon &amp; sweet potato mash</string>
		<key>Descriptions</key>
		<string>Ingredients: 

1. 1 ½ tbsp sesame oil, 1 tbsp low-salt soy sauce, thumb-sized piece ginger, 1 garlic clove, 1 tsp honey
2. 2 sweet potatoes, scrubbed and cut into wedges, 1 lime,  2 boneless skinless salmon fillets, 250g purple sprouting broccoli, 1 tbsp sesame seeds, 1 red chilli

Recipe:

1. Heat oven to 200C/180 fan/ gas 6 and line a baking tray with parchment. Mix together 1/2 tbsp sesame oil, the soy, ginger, garlic and honey. Put the sweet potato wedges, skin and all, into a glass bowl with the lime wedges. Cover with cling film and microwave on high for 12-14 mins until completely soft.
2. Meanwhile, spread the broccoli and salmon out on the baking tray. Spoon over the marinade and season. Roast in the oven for 10-12 mins, then sprinkle over the sesame seeds.
3. Remove the lime wedges and roughly mash the sweet potato using a fork. Mix in the remaining sesame oil, the chilli and some seasoning. Divide between plates, along with the salmon and broccoli.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lime prawn cocktail pitta salad</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Lime prawn cocktail pitta salad</string>
		<key>Descriptions</key>
		<string>Ingredients: 

1. ½ wholemeal pitta, ½ tbsp rapeseed oil, 1 tsp Tabasco, 1 tbsp low-fat mayonnaise, 1 tsp low-sugar, low-salt ketchup
2. 1 tbsp fat-free natural yogurt, ½ lime , zested and juiced, plus wedges to serve, 60g cooked king prawns
3. 1 Little Gem lettuce , ¼ small cucumber , 4 cherry tomatoes

Recipes: 

1. Heat the oven to 200C/180C fan/gas 6. Slice the pitta into triangles, put on a baking sheet and drizzle over the oil. Bake for 10-15 mins until golden and crisp.
2. Mix together the Tabasco, ketchup, mayo, yogurt and lime zest and juice. Toss the prawns in the dressing.
3. Layer the lettuce, cucumber, tomatoes and dressed prawns in a lunchbox or jar. Season, top with the pitta chips and serve with lime wedges.</string>
	</dict>
</array>
</plist>
