<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Vegetable Fried Rice</string>
		<key>Recipe</key>
		<string>Cook Time: 35 mins</string>
		<key>Image</key>
		<string>Vegetable Fried Rice</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 ½ teaspoons avocado oil, 2 eggs, whisked together, 1 small white onion, 2 medium carrots, 2 cups additional veggies 
2. ¼ teaspoon salt, 1 tbsp grated ginger, 2 large cloves garlic pressed, Pinch of red pepper flakes, 2 cups cooked brown rice
3. 3 green onions chopped, 1 tbsp gluten free tamari, 1 tsp sesame oil, Chili-garlic sauce 

Recipe: 

1. Warm a large cast iron or stainless steel skillet over medium-high heat, Immediately add 1 ½ teaspoons of oil and swirl the pan to coat the bottom. Add the scrambled eggs and swirl the pan so they cover the bottom. Cook until they are just lightly set, Transfer the eggs to a bowl 
2. Return the pan to heat and add 1 tablespoon of oil. Add the onion and carrots and cook, 3-5 mins. Add the remaining veggies and salt 3-5 mins
3.  break up the scrambled eggs into smaller pieces.transfer the contents of the pan to the bowl with the cooked eggs
4. Return the pan to heat and the remaining 1 tablespoon oil. Add the ginger, garlic and red pepper flakes, and cook. Add the rice and mix it all together till golden. (3- 5 mins) 
5. Add the cooked veggies and eggs and stir to combine. Remove the pan from the heat and stir in the tamari and sesame oil. Then Serve !</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Japanese noodles with sesame dressing</string>
		<key>Recipe</key>
		<string>Cook Time: 20 mins</string>
		<key>Image</key>
		<string>Japanese noodles with sesame dressing</string>
		<key>Description</key>
		<string>Ingredients: 

1. 200g soba noodle, 100g sugar snap pea , halved lengthways. 1 red pepper , ½ cucumber , sliced. 2 tsp sesame seed , toasted
2. For the dressing: 2 tbsp tahini paste, 2 tbsp soy sauce, 2 tbsp rice vinegar, 1 tbsp sugar

Recipe: 

1. First make the dressing. Mix the tahini with 2 tbsp water, then stir in the soy sauce, rice vinegar and sugar. Set aside.
2. Cook the noodles following pack instructions, then drain and rinse well under cold water. Divide the noodles between 2 bowls and top with the sugar snaps, red pepper and cucumber. Just before serving, pour over the dressing and sprinkle with the toasted sesame seeds.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vegetarian Stuffed Peppers</string>
		<key>Recipe</key>
		<string>Cook Time: 60 mins</string>
		<key>Image</key>
		<string>Vegetarian Stuffed Peppers</string>
		<key>Description</key>
		<string>Ingredients: 

1. 4 large red bell peppers, halved - seeds removed. 1 tbsp olive oil, Fine salt and freshly ground black pepper.
2. 1 ½ cups cooked rice, 2 tbsp olive oil, 1 onion, ½ tsp fine salt, 2 cups cherry tomatoes cut. 
3. ½ cup chopped fresh cilantro, 4 cloves garlic, 1 ½ teaspoons chili powder, 1 can (1 ½ cups) pinto beans, rinsed and drained
4. 1 tbsp lime juice. 1 cup grated mozzarella. 

Recipe: 

1. Roast the peppers: Preheat the oven to 220 degrees, Place the halved peppers in baking dish, Drizzle 1 tablespoon olive oil over the peppers and sprinkle them with salt and pepper. Bake 25 mins
2. Cook the rice: Bring a large pot of water to boil. Add the rice to the boiling water for 30 mins
3. In a large skillet over medium heat, warm 2 tablespoons olive oil until shimmering. Add the onion and ½ teaspoon of the salt, 5 mins. Add tomatoes for another 5 min
4. Add the cilantro, garlic, chili powder, cook for 30 to 60 seconds. Remove the pot from the heat and add the rice, beans, lime juice and about 10 twists of black pepper. 
5. Stuff each pepper generously with the rice mixture, Top the peppers with the cheese. Bake at 225 for 12 to 13 minutes, until the cheese is golden in spots. Serve warm </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sesame salmon &amp; sweet potato mash</string>
		<key>Recipe</key>
		<string>Cook Time: 25 mins</string>
		<key>Image</key>
		<string>Sesame salmon &amp; sweet potato mash</string>
		<key>Description</key>
		<string>Ingredients: 

1. 1 ½ tbsp sesame oil, 1 tbsp low-salt soy sauce, thumb-sized piece ginger, 1 garlic clove, 1 tsp honey
2. 2 sweet potatoes, scrubbed and cut into wedges, 1 lime,  2 boneless skinless salmon fillets, 250g purple sprouting broccoli, 1 tbsp sesame seeds, 1 red chilli

Recipe:

1. Heat oven to 200C/180 fan/ gas 6 and line a baking tray with parchment. Mix together 1/2 tbsp sesame oil, the soy, ginger, garlic and honey. Put the sweet potato wedges, skin and all, into a glass bowl with the lime wedges. Cover with cling film and microwave on high for 12-14 mins until completely soft.
2. Meanwhile, spread the broccoli and salmon out on the baking tray. Spoon over the marinade and season. Roast in the oven for 10-12 mins, then sprinkle over the sesame seeds.
3. Remove the lime wedges and roughly mash the sweet potato using a fork. Mix in the remaining sesame oil, the chilli and some seasoning. Divide between plates, along with the salmon and broccoli.</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Falafel burgers</string>
		<key>Recipe</key>
		<string>Cook Time: 16 mins</string>
		<key>Image</key>
		<string>Falafel burgers</string>
		<key>Description</key>
		<string>Ingredients:

1. 400g can chickpeas, 1 small red onion, 1 garlic clove, handful of flat-leaf parsley or curly parsley, 1 tsp ground cumin
2. 1 tsp ground coriander, ½ tsp harissa paste, 2 tbsp plain flour, 2 tbsp sunflower oil 
3. toasted pitta bread, to serve. 200g tub tomato salsa, to serve. green salad, to serve. 

Recipe: 

1. Drain the chickpeas and pat dry with kitchen paper. Tip into a food processor along with the onion, garlic, parsley, cumin, coriander, harissa paste, flour and a little salt.
2. Blend until fairly smooth, then shape into four patties with your hands. 
3. Heat the sunflower oil in a non-stick frying pan, and fry the burgers for 3 mins on each side until lightly golden. Serve with the toasted pitta bread, tomato salsa and green salad.</string>
	</dict>
</array>
</plist>
