<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Build Muscle - Advanced</string>
		<key>Day</key>
		<string>Day 1 - Week 2</string>
		<key>Image</key>
		<string>Stay Fit</string>
		<key>Description</key>
		<string>Gym Workouts: (Pull) 60 - 90 sec rest between sets 

1. Barbell Upright Row: Reps - 8,8,10,12 for 4 sets 
2. Single-Arm Neutral-Grip Dumbell Row: Reps - 8,8,10,12 for 4 sets 
3. Incline Dumbell Biceps Curl: Reps - 8,8,10,12 for 4 sets 
4. Preacher Curl with Cable: Reps - 8,8,10,12 for 4 sets 
5. Reverse Crunch: Reps - 8,8,10,12 for 4 sets </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Build Muscle - Advanced</string>
		<key>Day</key>
		<string>Day 2 - Week 2</string>
		<key>Image</key>
		<string>Lose Weight</string>
		<key>Description</key>
		<string>Gym Workouts: (Legs) 60 - 90 sec rest between sets 

1. Back Squat: Reps - 8,8,10,12 for 4 sets 
2. Leg Squat: Reps - 8,8,10,12 for 4 sets 
3. Seated Leg Curl: Reps - 8,8,10,12 for 4 sets 
4. Romanian Deadlift: Reps - 8,8,10,12 for 4 sets 
5. Standing Calf Raise: Reps - 25 for 3 sets 
6. Seated Calf Raise: Reps - 25 for 3 sets </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Build Muscle - Advanced</string>
		<key>Day</key>
		<string>Day 3 - Week 2</string>
		<key>Image</key>
		<string>running</string>
		<key>Description</key>
		<string>Gym Workouts: (Chest, Triceps, Calves) 60 - 90 sec rest between sets 

1. Incline Barbell Bench Press: Reps 10 for 5 sets 
2. Dumbbell Bench Press: Reps - 8,8,10,10,12 for 5 sets 
3. Dumbbell Flye: Reps - 8,8,10,10,12 for 5 sets 
4. Rope Pressdown: Reps - 8,10,10,12 for 4 sets 
5. Dumbbell Kickback: Reps 10 for 3 sets 
6. Lying Ez-Bar Triceps Extension: Reps 10 for 3 sets 
7. Standing Calf Raise: Reps 25 for 3 sets 
8. Seated Calf Raise: Reps 25 for 3 sets </string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Build Muscle - Advanced</string>
		<key>Day</key>
		<string>Day 4 - Week 2</string>
		<key>Image</key>
		<string>Build Muscle</string>
		<key>Description</key>
		<string>Gym Workouts: (Legs, Abs) 60 - 90 sec rest between sets

1. Back Squat: Reps - 8,8,10,12 for 4 sets 
2. Leg Squat: Reps - 8,8,10,12 for 4 sets 
3. Seated Leg Curl: Reps - 8,8,10,12 for 4 sets 
4. Romanian Deadlift: Reps - 8,8,10,12 for 4 sets 
5. Standing Calf Raise: Reps - 25 for 3 sets 
6. Seated Calf Raise: Reps - 25 for 3 sets 
7. Crunch: Reps 20 for 3 sets   
</string>
	</dict>
</array>
</plist>
